/* CSS Document */
body {
	width: 100%;
	padding: 0;
	margin: 0 auto;
	font-family: "Open Sans", Helvetica, sans-serif;
}

header {
	width: 98%;
	padding: 1%;
	background-color: rgba(194, 235, 235, 0.75);
	font-family: "Open Sans", Helvetica, sans-serif;
	color: #fff;
}

nav {
	text-align:right;
	margin:auto;
	clear:left;
	min-width:70%;
	vertical-align:middle;
	max-height:100%;
	padding:0;
	max-width:100%;
	display:inline-block;
}

.fixednav{
	position: fixed;
	top:0px;
	margin:0;
	background-color:rgba(194, 235, 235, 0.75);
	text-align:center;
	box-shadow: 0px 0px 10px 1px rgba(204,204,204,1);
	z-index: 100;
}

.contents {
	width: 96vw;
	margin: 5% 2vw 2vw 2vw;
	text-align:center;
}

/********************************** nav bar **********************************/
.toggle,
[id^=drop] {
	display: none;
}

nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	top: 0.5vw;
	margin: 0.2vw;
	display:inline-block;
	float:left;
	}

nav a, input.nav {
	display:block;
	padding:0.1vw 0.5vw;	
	color:#FFF;
	text-decoration:none;
	text-transform:uppercase;
	font-size:0.9em;
	white-space:nowrap;
	font-weight:bold;
}

nav a:hover { 
	color: #F0FBFB; 
}

nav ul li ul li {
	background-color:rgba(172, 237, 239, 0.75); /*darker teal*/
}

nav ul li ul li a {
	padding:0.5vw;
	white-space:normal;
	color:#FFF;
}

nav ul li ul li:hover {
	background-color:rgba(224, 253, 255, 0.75); /*lighter teal*/
}

nav ul li ul li:hover a {
	color: #fff;
}

nav ul ul {
	display: none;
	position: absolute; 
	top: 1.5em;
	text-align:left; 
	z-index:100;
}
	
nav ul li:hover > ul {
	display:inherit;
}

nav ul ul li {
	width:auto;
	min-width:6vw;
	float:none;
	display:list-item;
	position: relative;
	z-index:100;
}

li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

@media all and (max-width : 768px) {
	nav {
		margin: 0;
		width: 100%;
	}
	
	.menu{
		width: inherit;
	}

	.toggle + a,
	.menu {
		display: none;
	}

	.toggle {
		display: block;
		background-color: inherit;
		padding:0.5vw;	
		color:#fff;
		text-decoration:none;
		text-transform:uppercase;
		white-space:nowrap;
		font-weight:bold;
	}

	.toggle:hover {
		color: #F0FBFB;
	}
	
	#menubutton{
		padding:0.3vw 1.5vw;
		border:solid 2px #fff;
		border-radius:10px;
		margin:0;
		font-weight: 900;
	}

	[id^=drop]:checked + ul {
		display: block;
	}
	
	nav ul li {
		display: block;
		width: 100%;
		}


	nav ul ul a:hover,
 	nav ul ul ul a {
		background-color: rgba(224, 253, 255, 0.75);
	}

	nav ul ul {
		text-align:right;
		float: none;
		position:static;
		color: #ffffff;
	}
		
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	nav ul ul li {
		display: block;
		width: 100%;
	}
}

/******************************* end nav bar ********************************/
	
/******************************bubbles*************************************/
.bubble {
	width: 28vw;
	height: 28vw;
	margin: 2vw;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 3px 3px 5px 1px rgba(204,204,204,1);
	overflow:hidden;
	text-align: center;
	float:left;
}

.bigbubbleL {
	width: 60vw;
	height: 60vw;
	margin: 1.99vw;
	border-radius:50%;
	box-shadow: 3px 3px 5px 1px rgba(204,204,204,1);
	overflow:hidden;
	text-align: center;
	float:left;
}

.bigbubbleR {
	width: 60vw;
	height: 60vw;
	margin: 2vw;
	border-radius:50%;
	box-shadow: 3px 3px 5px 1px rgba(204,204,204,1);
	overflow:hidden;
	text-align: center;
	float:right;
}



.bubble-container{
	width: inherit;
	height: inherit;
	position:relative;
	text-align:center;
	color: #fff;
}

.bubble-text {
	position: absolute;
	top: 25%;
	left:50%;
	visibility: hidden;
	transform: translate(-50%, -75%);
	z-index: 100;
	font-size:10em;
}

.bubble-text::after {
	content:"+";
}

.bigbubble-text {
	position: absolute;
	top: 25%;
	left:50%;
	visibility: hidden;
	transform: translate(-50%, -50%);
	z-index: 100;
	font-size:10em;
}

.bigbubble-text::after{
	content:"_";
}

.bubble-container:hover > .bubble-text, .bubble-container:hover > .bigbubble-text  {
	visibility: visible;
}

.bubble-img{
	height: 100%;
	position:relative;
	display: block;
	left: 50%;
	transform: translate(-50%,0);
	
}

.bubble-container:hover > .bubble-img {
	filter: blur(3px) saturate(50%) opacity(75%) sepia(25%);
}

@media all and (max-width : 768px) {
	.bubble{
		width: 75vw;
		height: 75vw;
		margin: 5vw;
	}
	
	.bubble-text::after {
		content:"";
	}
}
/****************end bubbles******************/

/*****************top button*********************/
a.top{
	text-decoration:none;
	color:#FFF;
	text-align:center;
	font-weight:bold;
	font-size: 2.5em;
}

div.top{
	width:3em;
	height:2.5em;
	background-color:rgba(172, 237, 239, 0.75);
	border-radius: 50%;
	padding-bottom:0.5em;
	margin:0;
	position:fixed;
	top:80%;
	right:0.75%;
	text-align:center;
	z-index:3;
	box-shadow: 3px 3px 5px 1px rgba(204,204,204,1);
}

div.top:hover{
	background-color:rgba(224, 253, 255, 0.75);
	color:#FFF;
}

/***************end top button**************/

/***************image pages*****************/
.imgpagewrapper{
	width:auto;
	padding:3.5vw;
	text-align:center;
	vertical-align:middle;
}

.imgcontainer{
	position:relative;
	width: 60vw;
	max-height: 33vw;
	display:inline-block;
	overflow:hidden;
	margin:0;
	padding: 0;
	text-align:center;
	box-shadow: 3px 3px 5px 1px rgba(204,204,204,1);
}

.full{
	max-width:60vw;
}

@media all and (max-width : 768px) {
	.imgpagewrapper{
		width:auto;
		padding:5vw 0;
		margin:0;
		text-align:center;
		vertical-align:middle;
	}
	
	.imgcontainer{
		width: 90%;
		max-height: 50vw;
		position:relative;
		display:inline-block;
		overflow:hidden;
		text-align:center;
	}
	.full{
		min-width:90vw;
	}
}

.download {
	position: absolute;
	top: 50%;
	left:50%;
	visibility: hidden;
	transform: translate(-50%, -50%);
	z-index: 100;
	font-size:1em;
}

.download a {
	text-decoration:none;
	padding: 1vw;
	border-radius:20px;
	background-color:#fff;
	color:#999;
}

.imgcontainer:hover {
	filter: grayscale(100%);
}

.imgcontainer:hover > .download{
	visibility: visible;
}

.download a:hover {
	background-color:#999;
	color: #fff;
}

.writeup{
	font-family:Pacifico;
	color:#8AD9D9;
}

p.writeup::first-letter{
	font-size:2em;
	color:#51C6C6;
}

/********************about****************/

.profilecontainer{
	float:right;
	max-width: 30vw;
	height:20vw;
	overflow:hidden;
	display:inline-block;
	box-shadow: 3px 3px 5px 1px rgba(204,204,204,1);
	text-align:center;
	margin-left: 3vw;
}
	
.profile{
	max-height:20vw;
}

p.signature{
	color:#000;
	font-family:'Homemade Apple', cursive;
}

@media all and (max-width : 768px) {
	.profilecontainer{
		float:right;
		max-width: 50vw;
		height:20vw;
		overflow:hidden;
		display:inline-block;
		box-shadow: 3px 3px 5px 1px rgba(204,204,204,1);
		text-align:center;
		margin:5vw;
	}
	.profile{
		
		max-height:20vw;
	}
}

input.submission, label.submission, textarea, button[type="submit"], select {
	padding: 1vw;
	color: #51C6C6;
	font-size:2em;
	background-color: #fff;
}

.question{
	color: #8AD9D9;
	font-size:1.1em;
	margin-top:0;
	font-family: Pacifico;
}

p.question::first-letter{
	font-size:1.5em;
	font-weight:bold;
}

.answer{
	text-indent: 2em;
	color: #51C6C6;
	font-size:1.1em;
	margin-top:0;
	font-family: Pacifico;
	visibility:hidden;
}

p.answer::first-letter{
	font-size:1.5em;
	font-weight:bold;
}

div.question:hover > .answer{
	visibility: visible;
}

.faq {
	text-align:left;
}

.submission .question{
	font-size:2em;
}